In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn import preprocessing, model_selection, neighbors, svm
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [3]:
df = pd.read_csv("df_classification.csv")
df = df.drop(["Order ID"], axis = 1)
df['Product 3'] = df['Product 3'].fillna("Empty")
df['Product 2'] = df['Product 2'].fillna("Empty")
df

,Product 1,Product 2,Product 3
0,Google Phone,Wired Headphones,Empty
1,Google Phone,USB-C Charging Cable,Empty
2,Bose SoundSport Headphones,Bose SoundSport Headphones,Empty
3,AAA Batteries (4-pack),Google Phone,Empty
4,Lightning Charging Cable,USB-C Charging Cable,Empty
...,...,...,...
7131,Apple Airpods Headphones,Apple Airpods Headphones,Empty
7132,iPhone,Lightning Charging Cable,Lightning Charging Cable
7133,34in Ultrawide Monitor,AA Batteries (4-pack),Empty
7134,Wired Headphones,AAA Batteries (4-pack),Empty
7135,Google Phone,USB-C Charging Cable,Empty

In [4]:
le= LabelEncoder()
encoded_series = df.copy()
le.fit(encoded_series.stack().unique())
encoded_series['Product 1'] = le.transform(encoded_series['Product 1'])
encoded_series['Product 2'] = le.transform(encoded_series['Product 2'])
encoded_series['Product 3'] = le.transform(encoded_series['Product 3'])
encoded_series

      Product 1  Product 2  Product 3
0            10         18          8
1            10         16          8
2             7          7          8
3             5         10          8
4            13         16          8
...         ...        ...        ...
7131          6          6          8
7132         19         13         13
7133          3          4          8
7134         18          5          8
7135         10         16          8

[7136 rows x 3 columns]

In [5]:
X = encoded_series.drop(["Product 2"], axis=1)
y = encoded_series["Product 2"]

In [6]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.30, shuffle = True)
print("Train", X_train.shape, y_train.shape)
print("Test", X_test.shape, y_test.shape)

Train (4995, 2) (4995,)
Test (2141, 2) (2141,)

In [7]:
X_train

      Product 1  Product 3
631           5          8
1518          5          8
6424          6          8
3795         19          8
4064          4          8
...         ...        ...
5239          6          8
188          10          8
4620         17          8
403          19          8
1098         10          8

[4995 rows x 2 columns]

In [8]:
knn = KNeighborsClassifier(n_neighbors = 20)

In [9]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=20)

In [10]:
knn.score(X_test, y_test)

0.3750583839327417

In [11]:
knn.score(X_train, y_train)

0.3841841841841842

In [12]:
Beispiel = np.array([[16, 12]])
Beispiel.shape

(1, 2)

In [38]:
Google_Phone = 10
Empty = 8

Beispiel = np.array([[Google_Phone, Empty]])
Prognose = knn.predict(Beispiel)
print(f"Vielleicht möchten Sie {le.inverse_transform(Prognose)} kaufen.")

Vielleicht möchten Sie ['USB-C Charging Cable'] kaufen.

In [39]:
iPhone = 19
Empty = 8

Beispiel = np.array([[iPhone, Empty]])
Prognose = knn.predict(Beispiel)
print(f"Vielleicht möchten Sie {le.inverse_transform(Prognose)} kaufen.")

Vielleicht möchten Sie ['Lightning Charging Cable'] kaufen.